# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
./idea/workspace.xml


npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/workspace.xml
*.xml
.vs/slnx.sqlite
.idea/workspace.xml
.vs/ProjectSettings.json
.vs/trouve_ton_artisan/FileContentIndex/read.lock
.vs/trouve_ton_artisan/FileContentIndex/9865ba0a-19f7-4a2f-ad6c-07b2775bc3b3.vsidx
*.vsidx
.idea/workspace.xml
