
.overlay {
  position: fixed;
  top: 0;
  left: +100%;
  height: 100dvh;
  width: 100%;
  //background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
  overflow-x: hidden;

  display: flex;
  justify-content: center;

  .bouton_fermer {
    background-color: #ad1a1a;
    width: 20px;
    height: 20px;
    border-radius: 50%;

    position: absolute;
    top: 5px;
    left: 5px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    border: none;
    padding: 10px;
    line-height: 0;
    &:hover {
      cursor: pointer;
    }
  }



  .searchbar_modal {
    margin-top: 20%;
    form {
      display: flex;
      flex-direction: column;
      h1 {
        color: #384050;
      }

      input {
        outline: none;
        border: none;
        padding: 5px 5px 5px 20px;
        border-radius: 20px;
        background-color: #f1f8fc;

      }
      .btn-rechercher {
        background-color: #82b864;
        color: #f1f8fc;
        margin-top: 10px;
        width: 50%;
        align-self: center;
      }
      .btn-fermer {
        width: 50%;
        align-self: center;
        margin-top: 5px;
      }
    }
  }
}