@font-face {
  src: url("./fonts/GraphikRegular.otf");
  font-family: "Graphik";
}
@font-face {
  src: url("./fonts/GraphikRegularItalic.otf");
  font-family: "Graphik Italic";
}
@font-face {
  src: url("./fonts/GraphikLight.otf");
  font-family: "Graphik Light";
}
@font-face {
  src: url("./fonts/GraphikLightItalic.otf");
  font-family: "Graphik Light Italic";
}
@font-face {
  src: url("./fonts/GraphikBold.otf");
  font-family: "Graphik Bold";
}
@font-face {
  src: url("./fonts/GraphikBoldItalic.otf");
  font-family: "Graphik Bold Italic";
}
