@import "./assets/fonts";

*, html, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
  list-style: none;
}

body {
  font-family: "Graphik";
  background-color: #f1f8fc;
  color: #384050;

}

a {
  text-decoration: none;
  color: inherit;

  &.active {
    color: #cd2c2e;
  }
}

// Couleurs ====================

.bleu_primaire {
  background-color: #0074c7;
}
