
.section-information {
  background-color: #0074c7;
}

.article-titre {
  background-color: #f1f8fc;
}

.article-information {
  background-color: #f1f8fc;
  color: #353D4D;
}

.article-form {
  background-color: #353D4D;
  color: #ffffff;
}