
.section-information {
  background-color: #0074c7;
}

.article-titre {
  background-color: #f1f8fc;
}

.article-information {
  background-color: #f1f8fc;
  color: #353D4D;
}

.article-form {
  background-color: #353D4D;
  color: #ffffff;
}


input {
  background-color: rgba(255, 255, 255, 0.58);
  color: rgba(0, 0, 0, 0.55);
  &::placeholder {
    color: rgba(0, 0, 0, 0.55);
  }
}